/* 
	Key Codes: http://cactus.io/resources/toolbox/html-arrow-symbol-codes
*/
* {
	box-sizing: border-box;
}

body {
	background-color: #e6e6a3; /*#fdfdcc;*/
}

hr {
	margin-bottom: 60px;
}

.header {
	color: #4c4460;
	text-align: center;
}

.header__desc {
	font-size: 1.4rem;
}

.header__title {
	font-size: 3.2rem;
}

.header__title-span {
	color: red;
}

.header__aux-btn {
	color: #f21a1a;
	background-color: #aaaac8;
	border: 3px dashed yellow;
	font-size: 1rem;
	text-transform: uppercase;
	
	margin: 20px 0px;
	padding: 12px;
	cursor: pointer;
	position: relative;
	right: 50px;
}


/* CALCULATOR UI */
.calc-container {
	width: 360px;
	margin: auto;
}

.calc-display, .msg-display {
    
	background-color: #1e1c1cdb;
	
	padding: 16px 16px 12px 12px;
	text-align: right;
}

.calc-display {
    color: white;
    font-size: 1.4rem;
}

.msg-display {
    color: #b3b3ff;
    font-size: 1rem;
    border-bottom: 0.5px dotted #6b6b91;
	border-radius: 16px 16px 0 0;
}

.keyboard {
	background-color: black; /*#9f9ffb;*/
	display: flex;
	border-radius: 3px;
}

.keyboard__keys {
	width: 60px;
	height: 45px;
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
}

.keyboard__equal-sign {
	background-color: #3c3106; /*#af3939;*/
	width: 120px;
	height: 45px;
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
}

.keyboard__equal-sign, .keyboard__keys {
	color: #faecec;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: cell;
}

.keyboard__num-keys {
    background-color: #cb6969;
	display: grid;
	grid-template-columns: auto auto auto;
	height: 180px;
}

.keyboard__oper-keys {
    background-color: #b7a74f; /*#b74f4f;*/
}

.keyboard__aux-keys {
    background-color: #867637; /*#d91a1a;*/
	display: flex;
	flex-wrap: wrap;
	width: 120px;
	height: 180px;
}

.keyboard__num-keys .keyboard__keys:hover {
	transform: scale(1.02);
	border: 0.3px solid #ffff0078;
	border-radius: 3px;
}

.keyboard__oper-keys .keyboard__keys:hover, .keyboard__aux-keys .keyboard__keys:hover {
	transform: scale(1.02);
	border: 0.3px solid #faecec8a; /*#ffff0078;*/
	border-radius: 3px;
}

.keyboard__equal-sign:hover {
    transform: scale(1.03);
	border: 0.3px solid #faecec8a; /*#ffff0078;*/
	border-radius: 3px;
}



.inactive-keys {
	cursor: no-drop;
}

